<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form th:method="POST"  th:action="@{/books/search}">
    <label for="name">Enter a search term: </label>
    <input type="text" id="name" th:name="content"/>
    <br/>
    <input type="submit" value="Search!"/>
</form>


<div th:if="${book == null}">
    <p>Books not found</p>
    <hr/>
</div>


<div th:if="${book != null}">
    <p th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}">Book title</p>

    <div th:if="${owner != null}">
        <span>The book is now: </span>
        <span th:text="${owner.getFullName()}">Name</span>
        <hr/>
    </div>

    <div th:if="${owner == null}">
        <p>The book is free</p>
        <hr/>
    </div>
</div>

<br/>

<form th:method="GET" th:action="@{/books}">
    <input type="submit" value="Books"/>
</form>


<br/>

<form th:method="GET" th:action="@{/}">
    <input type="submit" value="Start page"/>
</form>


</body>
</html>