<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}">VALUE</p>

<div th:if="${human == null}">
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <p>This book is free. Choose who to assign it to.</p>
        <label for="person">Choose person:</label>
        <select th:object="${person}" th:field="*{id}"  id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}"></option>
        </select>
        <input type="submit" value="Assign"/>
    </form>
    <hr/>
</div>

<div th:if="${human != null}">
    <hr/>
    <b>Person: </b>
    <p th:text="${human.getFullName()}">Name</p>

    <form th:method="PATCH" th:action="@{/books/{id}/free(id=${book.getId()})}">
        <input type="submit" value="To free"/>
    </form>

    <hr/>
</div>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<br/>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<br/>

<form th:method="GET" th:action="@{/}">
    <input type="submit" value="Start page"/>
</form>


</body>
</html>